extends layout

block content
  h1= 'Awards HIM won during their years of activity'
  ul
    each award in awards
      li= award.year + ': ' + award.nominee + ' (' + award.award + ')'
  a(href='/awards/add') Add a new award

