extends layout

block content
  h1 HIM (His Infernal Majesty) 1991-2017
  br
  img(src="images/rsz_him.jpg")
  br
  br
  p
    | I started listening HIM when I was like 10 or 11 years old.
    | I discovered them through Bam Margera,
    br
    | since he was a huge fan of the band. Later on as I discovered new and different music, HIM still stayed as
    br
    | the number one. Their music has had a huge impact on me and has helped me survive through tough times in my life.
    br
    | When I heard that they were quitting, my world kinda stopped. I felt like a piece of me was slowly being ripped out.
    br
    | Why so many people got to see them so many times and I possibly only one? Luckily I got to see two times, but I
    br
    | wish there could have been more. I was underage for most of the time during those 11 years of being a fan and they
    br
    | didn't really have any concerts in Finland. I know the music will stay and I can listen to it whenever I feel like it.
    br
    | Still I can't help but feel a little empty. HIM will always have a special place in my heart and I'm excited to see
    br
    | what kind of projects and music the members will bring in the future.




