doctype html
html
  head
    title= 'HIM'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - HIM
    br
    a(href='/members') Band Members
    br
    a(href='/awards') Awards won

    block content
