extends layout

block content
  h1= 'All HIM members throughout the 26 years'
  ul
    each member in members
      li= member.years + ': ' + member.member + ' (' + member.instrument + ')'
  a(href='/members/add') Add a new member
